# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
ENV/
env/

# =========================
# Environment / Secrets
# =========================
.env
*.env
*.key
*.json

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
