# =========================
# Secrets / Sensitive Data
# =========================
.env
.streamlit/secrets.toml

# =========================
# Generated Figures
# =========================
figure/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
ENV/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
